<!-- <p>This is the create view.</p>
<p>{{create.a}}</p> -->


<div>
	<div class="row"></div>
	<h4>Registration</h4>
	<div class="row">
	  <form class="col s12 l6" enctype="multipart/form-data">
	    <div class="row">
	      <div class="input-field col s12">
              <label for="name">Name</label>
	        <input id="name" type="text" ng-model="formData.name">
	      </div>
	    </div>
	    <div class="row">
	      <div class="input-field col s12">
	      	<label for="location" id="location_label">Location</label>
	        <input id="location" type="text" ng-model="create.formData.location.address">
	      </div>
	    </div>
	    <div class="row">
	      <div class="input-field col s12">
	      	<label for="description">Description</label>
	        <input id="description" type="text" ng-model="formData.description">
	      </div>
	    </div>
	    <div class="row">
	      <div class="input-field col s12">
	      	<label for="participants">Participants</label>
	        <input id="participants" type="text" ng-model="formData.participants">
	      </div>
	    </div>

	    <div class="row">
	    	<div class="col s12">
	    		<label>Event Photo</label>
	    	</div>
	      	<div class="input-field col s12">
	      		<button id="upfile1" type="button">Add Image</button>
	         	<input id="filUpload" type="file" name="userPhoto" required="required" onchange="angular.element(this).scope().fileNameChanged(this)" style="display:none;">
           	</div>
        </div>


      	<div class="row">
      	  <div class = "col s12">
      	  		<label>Category</label>
      	  </div>
	      <div class="input-field col s12">  	
	            <select class="selectpicker" data-style="btn-info" name="selectpicker" ng-model="category">
		            <option value="0">Painting</option>
		            <option value="1">Wood Work</option>
		            <option value="2">Garderning</option>
		            <option value="3">House Building</option>
	            </select> 
	      </div>
	    </div>
	    <div class="row">
	    	<div class="col s3">
	    		<h4>Pictures:</h4>
	    	</div>
	    	<div id="appendImage">
		    </div>
	    </div>
	    <div class="row">
		    <div class="col s12">
		    	<button class="btn waves-effect waves-light" type="submit" name="action" ng-click="insert(formData)">
		    		Submit
			    	<i class="mdi-content-send right"></i>
				</button>
			</div>
		</div>	
	  </form>
	  <div class="col l6">
    	<div  id="map-canvas" style="height:500px"></div>
    </div>
	</div>
	
</div>