<div style="height:200px"></div>
  <div class="row">
      <div class="header">
      <h2 class="center-align">BLDR: Build Our Community</h2>
  </div>
  </div>
  <div class="row">
      <div class="center-align">
      <a class="waves-effect waves-light btn" style="margin-right: 20px" href="/#/create">
          <i class="mdi-file-cloud right"></i>Create</a>
      <a class="waves-effect waves-light btn" style="margin-left: 20px" href="/#/projects" >
          <i class="mdi-file-cloud right"></i>Discover</a>
      </div>
  </div>
<div style="height:200px"></div>