
    <h1> All Projects</h1>
    <div class = "row list_view" >        
        <div ng-repeat="project in projects.projectCollection">
            <div class="col s4">
                <div class = "card blue-grey darken-1">
                    <div class = "card-content white-text">
                        <span class = "card-title"> {{project.name}}</span>
                        <p>{{project.description}}</p>
                    </div>
                    <div class = "card-action">
                        <a href = "/#/projects/{{project._id}}"> More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "row map_view" >
        <div style="height:400px" id="map-canvas">
        </div>
    </div>