<h2>Project Title{{project.projectData.title}}</h2>
    <div class="divider"></div>
        <div class = "section">
            <h4>Project Location</h4>
            <p> Actual location {{profileC.profileData.location}}</p>
        </div>
    <div class="divider"></div>
        <div class = "section">
            <h4>Project Participants</h4>
            <p> List of Participants{{profileC.profileData.participants}}</p>
        </div>
    <div class="divider"></div>
        <div class = "section">
            <h4>Project Description</h4>
            <p> Brief Details {{profileC.profileData.description}}</p>
        </div>
    <div class="divider"></div>
        <div class = "section">
            <h4>Project Pictures</h4>
            <p> Uploaded Pictures{{profileC.profileData.pictures}}</p>
        </div>
    <div class = "right-align">
        <a class="waves-effect waves-light btn"><i class="material-icons right"></i>Build Me</a>
    </div>




