<div>	
	<h2>Project Title {{projectData.name}}</h2>
    <div class="divider"></div>
        <div class = "section">
            <h4>Project Location</h4>
            <p> Actual location {{projectData.location}}</p>
        </div>
    <div class="divider"></div>
        <div class = "section">
            <h4>Project Participants</h4>
            <p> List of Participants {{projectData.participants}}</p>
        </div>
    <div class="divider"></div>
        <div class = "section">
            <h4>Project Description</h4>
            <p> Brief Details {{projectData.description}}</p>
        </div>
    <div class="divider"></div>
        <div class = "section">
            <h4>Project Pictures</h4>
            <p> Uploaded Pictures{{projectData.pictures}}</p>
        </div>
    <div class = "right-align">
        <a class="waves-effect waves-light btn"><i class="material-icons right"></i>Build Me</a>
    </div>
</div>